{% extends 'base.html.twig' %}

{% block title %}Mon profil - {{ parent() }}|{% endblock %}

{% block body %}
    <div class="container">
        <h2 style="text-align: center">Mon profil</h2>
        {{ form_start(formParticipant) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(formParticipant) }}
        </div>

        {{ form_row(formParticipant.pseudo) }}
        {#  {% if  %}#}
        {{ form_row(formParticipant.prenom, {
            label: 'Prénom'
        }) }}
        {{ form_row(formParticipant.nom) }}
        {{ form_row(formParticipant.telephone, {
            label: 'Téléphone'
        }) }}
        {{ form_row(formParticipant.email) }}
        {{ form_row(formParticipant.plainPassword.first) }}
        {{ form_row(formParticipant.plainPassword.second) }}
       {#{{ form_row(formParticipant.password) }}#}
        {{ form_row(formParticipant.campus) }}
        {{ form_row(formParticipant.maPhoto, {
            label: 'Ma photo'
        }) }}
        <button type="submit" name="btnValider" class="btn btn-primary btn-sm mt-2">Enregistrer</button>
        <a class="btn btn-primary btn-sm mt-2" href="{{ path("sortie_liste") }}">Annuler</a>
        {{ form_end(formParticipant) }}
    </div>
{% endblock %}
